
body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	font-family: 'Boogaloo', cursive;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 36px;
	padding: 1em;
}

header {
	/*width: 100%;*/
	background-color: #ffffff;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}

/*div {
	border:solid 1px red;
}*/

.quiz {
	max-width: 600px;
	margin: auto;
	padding: 1em;
	/*height: 490px;*/
}

.instructions {
	margin-bottom: 2em;
	display: none;
}

.question-header {
	margin-bottom: 2em;
}

.prompt h2 {
	text-align: center;
	font-size: 1.8em;
	font-family: 'Boogaloo', cursive;
}

.progress-footer {
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
	width: 100%;
	position: absolute;
  	display: inline-block;
  	bottom: 0px;
}

.progress-bar {
	display: block;
	margin: 2em 0;
	text-align: center;
}

.progress-bar li {
	display: inline-block;
	border: solid 1px #999999;
	padding: 1em;
 	border-radius: 2em;
 	font-family: 'Ubuntu', sans-serif;
}

.active {
	color: #ffffff;
	background-color: #888888;
}

.questions ,
.answers {
	font-size: 1.4em;
	margin-bottom: 2em;
}

/*#userGuess {
	display: block;
	top: 2px;
}*/

form {
	line-height: 32px;
	text-align: center;
}

#submit-button {
	font-size: 18px;
	background-color: #ffffff;
	padding: 0.4em 1em;
}