
body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	font-family: 'Boogaloo', cursive;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 36px;
	padding: 1em;
}

header {
	/*width: 100%;*/
	background-color: #ffffff;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}

/*div {
	border:solid 1px red;
}*/

.quiz {
	max-width: 600px;
	margin: auto;
	padding: 1em;
}

.instructions {
	margin-bottom: 2em;
}

.questions, .results {
	display: none;
}

#question-one, #question-two, #question-three, #question-four, #question-five, #question-six {
	display: none;
}

.question-header {
	margin-bottom: 1em;
}

.prompt {
	text-align: center;
}

.question-header h2,
.prompt h2 {
	text-align: center;
	font-size: 38px;
	font-family: 'Boogaloo', cursive;
}

.progress-footer {
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
	width: 100%;
	position: absolute;
  	display: inline-block;
  	bottom: 0px;
}

.progress-bar {
	display: block;
	margin: 2em 0;
	text-align: center;
}

.progress-bar li {
	display: inline-block;
	border: solid 1px #cccccc;
	padding: 1em;
 	border-radius: 2em;
 	font-family: 'Ubuntu', sans-serif;
}

.complete {
	color: #ffffff;
	background-color: #bbbbbb;
}

.active {
	color: #ffffff;
	background-color: #717171;
}

.questions p ,
.answers {
	font-size: 24px;
	margin-bottom: 2em;
}

/*#userGuess {
	display: block;
	top: 2px;
}*/

form {
	line-height: 32px;
	text-align: center;
}

form span {
	vertical-align: sub;
}

.button {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	background-color: #ffffff;
	padding: 0.4em 1em;
	margin-top: 2.6em;
	border: solid 1px #333333;
}

.hidden {
	display: none;
}

